# Ignorer les environnements virtuels
venv/
.venv/

# Ignorer les fichiers de cache Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Fichiers logs et temporaires
*.log
*.tmp

# Fichiers spécifiques à l'OS
.DS_Store
Thumbs.db
